.feedback {
    background-color: #192144;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 6;
    min-height: 534px;
}

.feedback__wrapper {
    padding-top: 100px;
}

.feedback__content {
    padding-left: 30px;
    padding-right: 30px;
}

.feedback__title {
    text-align: center;
}

.feedback__subtitle {
    text-align: center;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.feedback__authorization {
    color: #ffd74b;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: underline;
}

.feedback__text {
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
}

.feedback__contacts a {
    position: relative;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffd74b;
    display: inline-block;
    margin-top: 27px;
}

.feedback__contacts {
    padding-left: 60px;
    display: flex;
    flex-direction: column;

    &-tel::after {
        content: "";
        position: absolute;
        background-image: url("../img/contacts-phone.png");
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        background-color: #121936;
        border-radius: 50%;
        top: -12px;
        left: -60px;
        background-size: 16px;
        background-position: center;
    }

    &-mail::after {
        content: "";
        position: absolute;
        background-image: url("../img/contacts-mail.png");
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        background-color: #121936;
        border-radius: 50%;
        top: -12px;
        left: -60px;
        background-size: 16px;
        background-position: center;
    }
}

.feedback__form {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.feedback__form-input {
    width: 68vw;
    height: 62px;
    background-color: #ffffff;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    padding-left: 23px;
    padding-right: 23px;

    &::placeholder {
        opacity: 0.3;
        color: #444444;
        font-family: inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
}

.feedback__form-btn {
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    width: 60px;
    height: 62px;
    border-radius: 10px;
    background-color: #ffd74b;
    border: none;
    margin-left: -2vw;
    outline: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 10px solid #1d2e5b;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        top: 27px;
        right: 21px;
    }
}

@media (min-width: $tablet-width) {
    .feedback {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        margin-top: -50px;
        min-height: 765px;
    }

    .feedback__title {
        text-align: center;
        padding-top: 22px;
    }

    .feedback__subtitle {
        width: 90%;
        padding-top: 57px;
    }

    .feedback__form-input {
        height: 81px;
        width: 72vw;
        border-radius: 20px 0 0 20px;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 5px;

        &::placeholder {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .feedback__form-btn {
        width: 82px;
        height: 81px;
        border-radius: 0 20px 20px 0;

        &::after {
            top: 36px;
            right: 33px;
        }
    }

    .feedback__form {
        margin-top: 66px;
    }

    .feedback__text {
        font-size: 28px;
        line-height: 33px;
        width: 100%;
        padding-top: 54px;
    }

    .feedback__contacts {
        padding-top: 30px;
        padding-left: 126px;
    }

    .feedback__contacts a {
        font-size: 28px;
        line-height: 28px;
        margin-top: 35px;

        &:hover {
            color: #ffbd30;
        }
    }

    .feedback__contacts-tel::after {
        width: 68px;
        height: 68px;
        top: -22px;
        left: -91px;
        background-size: 25px;
    }

    .feedback__contacts-mail::after {
        width: 68px;
        height: 68px;
        top: -18px;
        left: -91px;
        background-size: 25px;
    }
}

@media (min-width: $desktop-width) {
    .feedback {
        min-height: 800px;
    }

    .feedback__wrapper {
        padding-top: 130px;
    }

    .feedback__form {
        margin-top: 60px;
    }

    .feedback__subtitle {
        width: 50%;
        padding-top: 56px;
    }

    .feedback__form-input {
        width: 61vw;
    }

    .feedback__form-btn {
        text-indent: 0;
        white-space: normal;
        overflow: visible;
        color: #1d2e5b;
        font-family: inherit;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        width: 321px;
        padding-left: 33px;
        padding-top: 0;
    }

    .feedback__text {
        padding-top: 63px;
    }

    .feedback__contacts {
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 44px;
    }

    .feedback__contacts-tel::after {
        width: 90px;
        height: 90px;
        top: -32px;
        left: -123px;
        background-size: 33px;
    }

    .feedback__contacts-mail::after {
        width: 90px;
        height: 90px;
        top: -32px;
        left: -123px;
        background-size: 33px;
    }
}